@model Jodit.Models.Group 

@{
    ViewBag.Title = "Add group";
}

<section class="mt-5">
    <div class="row ml-5 mb-4">
        <div class="col-12">
            <h2 class=" color1">Добавление группы</h2>
        </div>
    </div>
    <form asp-action="createGroup" asp-controller="Group">
        
        <div class="form-group">
            <label for="inputNameGroup">Наименование</label>
            <input type="text" asp-for="GroupName" id="inputNameGroup" class="form-control" placeholder="Наименование"/>
        </div>
        
        <div class="form-group">
            <label for="inputDescriptionGroup">Описание</label>
            <textarea class="form-control" asp-for="Description" placeholder="Описание" id="inputDescriptionGroup" rows="3"></textarea>
        </div>
        <button class="btn btn-dark mt-4" type="submit">Добавить</button>
    </form>
</section>