@model Jodit.ViewModels.ScheduleStatementModel
@{
    Layout = "_GroupNavigationLayout"; 
    ViewData["IdGroup"] = Model.ScheduleStatement.Group.IdGroup;
    
}

<form asp-action="CreateStatement" asp-controller="Group">
    <div>
        <label asp-for="ScheduleStatement">Сообщение</label><br />
        <input type="text" asp-for="ScheduleStatement.Comment" />
    </div>
    
    <input type="hidden" asp-for="@Model.ScheduleStatement.Group.IdGroup" />
    
    <input type="hidden" asp-for="@Model.ScheduleStatement.BeforeUser.IdUser" />
    
    <h3>Выберете день который вы хотите поменять</h3>
    @Html.DropDownList("chooseDate",new SelectList(Model.DateTimes))
    
    <div class="form-group">
        <input type="submit" value="Подтвердить" class="btn btn-default">
    </div>
</form>

