@model Jodit.ViewModels.RuleViewModel

@{
    Layout = "_GroupNavigationLayout"; 
    
    ViewData["IdGroup"] = Model.IdGroup;
}

<form asp-action="CreateRule" asp-controller="Group">
    
    <h3>Выберете пользователя</h3>
    @Html.HiddenFor(model => model.IdGroup)
    
    @Html.DropDownListFor(model => model.IdUser, ViewBag.Users as SelectList)
    <h3>Дежурит только в</h3>
    @{
        foreach (var item in Model.DaysOfTheWeek)
        {
            <h4>@item.Key @Html.CheckBoxFor(x => x.DaysOfTheWeek[item.Key])</h4> 
        }
    }
    
    <div class= "form-group">
        <input type="submit" value="Подтвердить" class="btn btn-default">
    </div>
</form>